html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", serif;
}

body,
body[data-theme="light"] {
  --color-text-primary: black;
  --color-underline: black;
  --color-bg-primary: #fff;
  --color-a: black;
  --color-a-hover: #2563eb;
  --color-post: #1d4ed8;
  --color-tag: #7c3aed;
}

body[data-theme="dark"] {
  --color-text-primary: #d1d5db;
  --color-underline: #fde68a;
  --color-bg-primary: #1e1e1e;
  --color-a: #d1d5db;
  --color-a-hover: #2563eb;
  --color-post: #fde68a;
  --color-tag: #fde68a;
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: background 0.25s ease-in-out;
}

::selection {
  color: teal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}
