html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", serif;
}

body,
body[data-theme="light"] {
  --color-text-primary: black;
  --color-underline: black;
  --color-bg-primary: #fff;
  --color-a: black;
  --color-a-hover: #2563eb;
  --color-post: #1d4ed8;
  --color-tag: #6e3dff;
  --color-browse-all-tags: #6e3dff;
}

body[data-theme="dark"] {
  --color-text-primary: #d1d5db;
  --color-underline: #fde68a;
  --color-bg-primary: #1e1e1e;
  --color-a: #d1d5db;
  --color-a-hover: #2563eb;
  --color-post: #fde68a;
  --color-tag: #fde68a;
  --color-browse-all-tags: #a78bfa;
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: background 0.25s ease-in-out;
}

::selection {
  color: teal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
}

.tip {
  margin: 0.75em;
  font-size: medium;
  font-style: italic;
}

.hyperlink {
  color: #2563eb;
}
